%center-hor-ver {
	justify-content: center;
	align-items: center;
}

body {
	display: flex;
	@extend %center-hor-ver;
	height: 100vh;
	width: 100vw;
}

.title {
	display: flex;
	@extend %center-hor-ver;
	width: 100vw;
	height: 400px;
	background-image: linear-gradient(to right, white, cyan, blueviolet, lightpink, white);
	span {
		color: white;
	}
}

.gameSession {
	/*display: none;*/

}